<ion-content>
  <div class="menu">
    <ion-progress-bar  [value]="progress"></ion-progress-bar>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin">
          <ion-title color="medium">What is your hair curl type?</ion-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-img src="/assets/image/example.png" ></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button>1A</ion-button>
          <ion-button>1B</ion-button>
          <ion-button>1C</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button>2A</ion-button>
          <ion-button>2B</ion-button>
          <ion-button>2C</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button>3A</ion-button>
          <ion-button>3B</ion-button>
          <ion-button>3C</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button>3A</ion-button>
          <ion-button>3B</ion-button>
          <ion-button>3C</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
